.decrease {
    width: 50px;
    border: none;
    border-radius: 25px;
}

.increase {
    width: 50px;
    border: none;
    border-radius: 25px;
}

.deleteBasket {
    background-color: rgb(191, 0, 0);
    color: white;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}