.registerForm {
    width: 40%;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.288);
    border: 1px solid black;
    height: auto;
    border-radius: 5px;
    text-align: center;
    margin: 120px auto;
    input {
        width: 55%;
        margin: 10px auto;
        outline: none;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid black;
        font-size: 16px;
    }
    button {
        width: 130px;
        padding: 10px 5px;
        margin: 5px auto;
        border: none;
        border-radius: 4px;
        text-align: center;
        background-color: gray;
        cursor: pointer;
    }
    .login {
        font-size: 20px;
    }
}