.card {
    width: 25%;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    img {
        width: 100%;
        height: 280px;
    }
    &Body {
        padding: 6px;
        h4 {
            font-size: 26px;
            padding: 7px;
        }
        p {
            font-size: 20px;
            padding: 10px;
        }
        a {
            text-decoration: none;
            font-size: 20px;
            padding: 10px;
        }
        .heart {
            margin-top: 10px;
            color: gray;
            font-size: 26px;
            cursor: pointer;
            transition: 0.3s;
        }
        .heart:hover {
            color: red;
            font-size: 32px;
        }
        .basket {
            padding: 8px;
            background-color: cadetblue;
            color: white;
            margin-bottom: 5px;
            margin-top: 10px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
        }
    }
}